.medialogo{
    padding-left: 250px;
    
}
.headerlogo{
    
    width: 200px;
    height: 200px;
}
.main {   
    
    background-color: white;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 50px;
    

  }
  
  .navimage{
    width: 650%;
    height: 25%;
   
}

  .image{
      width: 100%;
      height: 50%;
     
  }

  .bottomlink-image{
    width: 100%;
    height: 50%;
 
   
}
  